
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h1>@ViewBag.projectInfo.ProjectName</h1>

<h2>@ViewBag.projectInfo.Pmo</h2>
<h2>@ViewBag.projectInfo.Sponsor</h2>
<h2>@ViewBag.projectInfo.Technology</h2>
<h2>@ViewBag.projectInfo.Customer</h2>
<h2>@ViewBag.projectInfo.Application</h2>
<h2>@ViewBag.projectInfo.KeyWords</h2>
<h2>@ViewBag.projectInfo.FilePath</h2>
<h2>@ViewBag.projectInfo.M0Status</h2>
<h2>@ViewBag.projectInfo.M0Time</h2>
<h2>@ViewBag.projectInfo.T0Status</h2>
<h2>@ViewBag.projectInfo.T0Time</h2>

















